
.sidebar-image img {
    position: center;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding: 0;
}


.sidebar li {
    font-size: 16px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    list-style: none;
}

/* Style de l'icône de triangle */
.triangle-icon {
    width: 20px;
    height: 20px;
    background-color: #333;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    margin-right: 10px;
}

/* Style du bouton "Ajouter un type de produit" */
#add-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
