
.sidebar-image img {
    position: center;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}


.sidebar li {
    font-size: 16px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    list-style: none;
}



.triangle-icon {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.triangle-icon option {
    font-size: 14px;
}
#add-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
